<ul class="list-group list-group-flush">
  {{#if comments}}
  {{#each comments}}
  {{#if deleted}}
  <li class="list-group-item text-muted">DELETED ITEM</li>
  {{/if}}
  {{#unless deleted}}
  <li class="list-group-item">
    {{comment}}
    <button type="button" class="btn btn-danger float-right commentDelete" data-commentid="{{ _id }}">DELETE</button>
  </li>
  {{/unless}}
  {{/each}}
  {{/if}}
  {{#unless comments}}
  <li class="list-group-item">No comments yet... :(</li>
  {{/unless}}
</ul>