<ul class="list-group list-group-flush">
  {{#if comments}}
  {{#each comments}}
  {{#if deleted}}
  <li class="list-group-item">DELETED ITEM</li>
  {{/if}}
  {{#unless deleted}}
  <li class="list-group-item">{{comment}}</li>
  {{/unless}}
  {{/each}}
  {{/if}}
  {{#unless comments}}
  <li class="list-group-item">No comments yet... :(</li>
  {{/unless}}
</ul>