<ul class="list-group list-group-flush">
  {{#each comments}}
  {{#if deleted}}
  <li class="list-group-item">DELETED ITEM</li>
  {{/if}}
  {{#unless deleted}}
  <li class="list-group-item">{{comment}}</li>
  {{/unless}}
  {{/each}}
</ul>