{{#with article }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Comment Section</h1>
      <div class="card">
        <div class="card-body">
          <h3>{{ headline }}</h3>
          <p class="lead">{{ summary }}</p>
          <a class="card-link" href="https://www.nhl.com{{ url }}" target="_blank">Read More</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Comments</h1>
          {{> comment comments=comments}}
        </div>
        <form id="theform" class="form" data-contentid="{{ contentId }}">
          <div class="form-group">
            <label for="comment">Enter a comment about this article:</label>
            <textarea id="comment" class="form-control" rows="5"></textarea>
          </div>
          <input type="submit" id="commentSubmit" class="btn btn-block btn-success" value="Submit Comment" />
        </form>
      </div>
    </div>
  </div>
</div>
{{/with}}