{{#with article }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Comment Section</h1>
      <div class="card">
        <div class="card-body">
          <h3>{{ headline }}</h3>
          <p class="lead">{{ summary }}</p>
          <a class="card-link" href="https://www.nhl.com/{{ url }}" target="_blank">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/with}}