<div class="container">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-1 text-center">NHL News Scraper</h1>
      <hr>
      <p class="lead text-center mb-4">Robin Scherbatski Tested; Robin Scherbatski Approved*</p>
      <small class="text-muted">*Fictional sitcom characters cannot really test web apps.</small>
    </div>
    {{#with reply}}
    <div class="row">
      <div class="col">
        <h1 class="dispay-4 text-center">New Scrapes</h1>
        {{#if scrapings}}
        {{> article articles=scrapings new=true}}
        <a href="/scrape"><button type="button" class="btn btn-block btn-info">Scrape Again</button></a>
        {{/if}}
        {{#unless scrapings}}
        <h4>Scrape now to obtain the latest articles. Or try later if clicking did nothing, there may be nothing new.</h4>
        <a href="/scrape"><button type="button" class="btn btn-block btn-info">Scrape Now</button></a>
        {{/unless}}
      </div>
    </div>
    <hr>
    {{#if articles}}
    <div class="row">
      <div class="col">
        <h1 class="dispay-4 text-center">Article Archive</h1>
        {{> article articles=articles new=false}}
      </div>
    </div>
    {{/if}}
    {{/with}}
  </div>