<div class="container">
  {{#with reply}}
  {{#if scrapings}}
  <div class="row">
    <div class="col">
      <h1 class="dispay-4 text-center">New Scrapes</h1>
      {{> article articles=scrapings}}
    </div>
  </div>
  {{/if}}
  {{#if articles}}
  <div class="row">
    <div class="col">
      <h1 class="dispay-4 text-center">Article Archive</h1>
      {{> article articles=articles}}
    </div>
  </div>
  {{/if}}
  {{/with}}
</div>